.col-md-6 .card{
    border: 1px solid #000000;
}
.flexSpace{
    padding: 0px;
}

.btn-toolbar .btn{
    margin-right: 5px;
}
.btn-toolbar .btn:last-child{
    margin-right: 0;
}
.btn-group-lg>.btn, .btn-lg {
    width: 100%;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}